/* All styles for your Card Components live here */
.card {
    height: 10rem;
    width: 50%;
}

.banner {
    margin-left: 5rem;
}

.card__content{
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-left: 5rem;
    width: '89%'
}

.card__text {
    padding: 1rem;
}

.card__text h4 {
    margin: 0;
}

.last__text{
    color: gray;
}